/* START   .checkbox-wrapper-2 **/ 
.checkbox-wrapper-2 .tgl {
  display: none;
}
.checkbox-wrapper-2 .tgl,
.checkbox-wrapper-2 .tgl:after,
.checkbox-wrapper-2 .tgl:before,
.checkbox-wrapper-2 .tgl *,
.checkbox-wrapper-2 .tgl *:after,
.checkbox-wrapper-2 .tgl *:before,
.checkbox-wrapper-2 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-2 .tgl::-moz-selection,
.checkbox-wrapper-2 .tgl:after::-moz-selection,
.checkbox-wrapper-2 .tgl:before::-moz-selection,
.checkbox-wrapper-2 .tgl *::-moz-selection,
.checkbox-wrapper-2 .tgl *:after::-moz-selection,
.checkbox-wrapper-2 .tgl *:before::-moz-selection,
.checkbox-wrapper-2 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-2 .tgl::selection,
.checkbox-wrapper-2 .tgl:after::selection,
.checkbox-wrapper-2 .tgl:before::selection,
.checkbox-wrapper-2 .tgl *::selection,
.checkbox-wrapper-2 .tgl *:after::selection,
.checkbox-wrapper-2 .tgl *:before::selection,
.checkbox-wrapper-2 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-2 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-2 .tgl + .tgl-btn:after,
.checkbox-wrapper-2 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-2 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-2 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-2 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-2 .tgl-light + .tgl-btn {
  background: #e0e0e0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-2 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.checkbox-wrapper-2 .tgl-light:checked + .tgl-btn {
  background: #005da4;
}

/*  END   .checkbox-wrapper-2 **/ 

/**  START .checkbox-wrapper-3 **/

.checkbox-wrapper-3 {
  --blue: #0D7EFF;
  --g08: #E1E5EB;
  --g04: #848ea1;
}

.checkbox-wrapper-3 {
  --blue: #5cb85c;
  --g04: #ffffff;
  --g08: #d9534f;
}

.checkbox-wrapper-3 {
  display: inline-block;
}

.checkbox-wrapper-3 .tgl {
  display: none;
}
.checkbox-wrapper-3 .tgl,
.checkbox-wrapper-3 .tgl:after,
.checkbox-wrapper-3 .tgl:before,
.checkbox-wrapper-3 .tgl *,
.checkbox-wrapper-3 .tgl *:after,
.checkbox-wrapper-3 .tgl *:before,
.checkbox-wrapper-3 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-3 .tgl::selection,
.checkbox-wrapper-3 .tgl:after::selection,
.checkbox-wrapper-3 .tgl:before::selection,
.checkbox-wrapper-3 .tgl *::selection,
.checkbox-wrapper-3 .tgl *:after::selection,
.checkbox-wrapper-3 .tgl *:before::selection,
.checkbox-wrapper-3 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-3 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 75px;
  height: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.checkbox-wrapper-3 .tgl + .tgl-btn:after,
.checkbox-wrapper-3 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}
.checkbox-wrapper-3 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-3 .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}

.checkbox-wrapper-3 .tgl:checked + .tgl-btn:after {
  left: 80%;
}

.checkbox-wrapper-3 .tgl-ios + .tgl-btn {
  background: #ededed;
  border-radius: 3px;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-3 .tgl-ios + .tgl-btn:after {
  border-radius: 3px;
  background: #fff;
  width: 18%;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-3 .tgl-ios + .tgl-btn:before {
  content: "Inactivo";
  left: 20px;
  top: 2px;
  color: #555;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox-wrapper-3 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-3 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.4em;
}
.checkbox-wrapper-3 .tgl-ios:checked + .tgl-btn {
  background: var(--blue);
}
.checkbox-wrapper-3 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-3 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.1em;
}
.checkbox-wrapper-3 .tgl-ios:checked + .tgl-btn:before {
  content: "Activo";
  left: 6px;
  top: 2px;
  color: #fff;
}

.checkbox-wrapper-3 .tgl-ios:disabled + .tgl-btn {
  opacity: 0.5;
  cursor: no-drop;
}

/**  END .checkbox-wrapper-3 **/