[program:app]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/jobportal/index.php console/queue/worker process ; Comando a ejecutar
directory=/var/www/html/jobportal           ; Directorio de trabajo
autostart=true                              ; Iniciar con Supervisor
autorestart=true                            ; Reiniciar si falla
user=www-data                               ; Usuario del proceso
numprocs=1                                  ; Número de instancias
stdout_logfile=/var/log/worker.log          ; Logs de salida
stderr_logfile=/var/log/worker.err          ; Logs de error