.email-content {
	border-radius: 5px;
	padding: 4px 7px;
	font-family: arial;
}	

.header {

	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
}

.body {
	padding: 12px 10px;
	font-size: 16px;
	color: #222;
	border-radius: 6px;
}

.footer {
	text-align: center;
}

.separator {
	height: 2px;
	min-width: 600px;
	border-bottom: 1px solid #ccc;
	margin:0 auto;
	margin-top: 25px;
}

.footer .support a {
	font-size: 15px;
}

.footer .support {
	padding: 12px 0px;
}

.footer .link-social {

	padding: 10px;
}

.footer .link-social a {
	max-width: 32px;
	padding: 1px 4px;
}

.footer .link-social a {
	text-decoration: none;
}

.footer .link-social :hover {
	text-decoration: none;
}

.footer .copyright {
	padding: 25px 7px;
	font-size: 13px;
	color: #777;
}
