
.ui-autocomplete { 
	z-index:99999999; 
}

.content-main {
	background: #F2F4F6;
	padding: 5px 10px;
	border: 1px solid #ddd; 
	border-top: 0;
}

.wrapper-candidate {
	padding: 5px 4px;
	height: 115px;
	border-bottom: 1px solid #ccc;
	margin: 5px 0px;
	background: #fff;
	border-radius: 6px;
}

.content-btn-right {
	position: absolute;
	right: 0;
	top:5px;
}

.content-btn-right button {
	font-size: 12px;
	padding:3px 8px;
	border-radius:8px;
	font-weight: bold;
}

.menu-stage {
	margin-bottom: 15px;
	width: 100%;

}

.menu-stage-item {
	background: #ccc;
	padding: 7px 8px;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	min-width: 100px;
}

.wrapper-menu-options {
	_text-align: right;
}

.menu-options-item {
	display: inline-block;
	padding: 6px 2px;
}


.menu-item {
	position: absolute;
	right: 0;
	--display: none;
}

.menu-item-item {
	display: block;
	padding: 0 2px;
	display: inline-block;
}

.dropdown .dropdown-toggle {
	padding: 5px;
	border: 0;
	background: #fff;
}

.menu-item-item .dropdown .dropdown-toggle {
	padding: 0;
	border: 0;
	background: #fff;
	margin: 0;	
}

.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: #F2F4F6;
	background: #F2F4F6;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: #005da4;
	color: #fff;
}

.label-check {
	color: #357ec6;
	font-size: 13px;
}

.ontent-tab-steps {
	position: relative;
}
.nav-tabs-item-left,
.nav-tabs-item-right {
	position: absolute;
	top: 0;
}

.nav-tabs-item-left {
	left: 0;
}

.nav-tabs-item-right {
	right: 0;
}

.stop-tracking-info {
	padding: 10px 3px;
	font-size: 14px;
}

.content-action-item {
	padding: 6px 0;
}

.info-process-sts {
	color: #013295;
	border: 1px solid #013295;
	background: #fff;
	padding: 2px 3px;
	border-radius: 4px;
	font-size: 13px;
	margin-left: 5px;
}

.list-info-process {
	list-style-type: none;
	}

.list-info-process li {
	display: block;
	border-bottom: 1px solid #444;
	padding: 3px 2px;
	margin-bottom: 2px;
	color: #444;
	font-size: 13px;
}

.ui-autocomplete li {
	border-bottom: 1px solid #ccc;
}

.wrapper-suggestions table td {
	padding: 3px 4px;
}

.wrapper-suggestions .item-name {
	font-size: 14px;
	color: #333;
} 

.wrapper-suggestions .item-email {
	font-size: 13px;
	color: #777;
}

.attach-file-item {
	border: 1px solid #888;
	padding: 12px 5px;
	margin-top: 5px;
	position: relative;
	text-align: center;
	font-size: 14px;
	background: #eee;
}

.content-main-load {
	padding: 13px 0;
	text-align: center;
}

.dropdown-divider {
	border-bottom: 1px solid #e0e0e0;
	padding: 2px 0;
	margin: 2px 0;
}

.label-check .material-icons {
	font-size: 18px;
}

.dropdown-menu li.dropdown-divider:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	display: none;
}

#container-rc-stage-options .btn {
	height: 24px;
}