.dataTable {
  margin-top: 10px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
}

table.dataTable thead th {
  border-bottom: none;
  padding: 6px;
  background: #F8F9FA;
  font-size: 14px;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 6px;
  font-size: 13px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate {
  border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7 !important;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #005da4;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #eeeeee;
  border: 1px solid #ddd;
  color: #337ab7 !important;
}

.dataTables_filter {
  margin-bottom: 1.3em;
}
